@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

* {

    font-family: Product Sans;
}

html {
    scroll-behavior: smooth;
}

.box {
    background-size: cover !important;
}

.content {
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0px;

    max-width: 1500px;

    left: 0;
    right: 0;

    margin: auto;
}

.content p {
    color: #828282;
}

.image-box {
    width: 100%;
}

#\#cover {
   min-height: 100vh;
}

.title-box {
    left: 0;
    right: 0;
    margin: auto;

    text-align: center;
}

.cover-gradient {
    height: 100vh;
    width: 100%;

    /*background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));*/
}

.spacer {
    height: 50vh;
}

.unspace {
    transform: translateY(-50%);
}

#main-nav {
    transition: 0.3s;
}

.nav-top {
    background: none;
    border-bottom: none solid 1px !important;

}

.nav-active {
    background: white;
    /*border-bottom: #BDBDBD solid 1px !important;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-right {
    display: inline-block;
    float: right !important;
}

.hover-image {
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-image:hover {
    transform: scale(1.01);
}

.event-object {
    border: 1px solid white;
    min-height: 200px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

.event-object:hover {
    transform: scale(1.01);
}

footer {
    background: #00204E;
    min-height: 300px;
    color: white;
    padding: 40px;
}

.member {
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}

.member-box {
    display: inline-block;
}

.team-frame {

    text-align: center;

    left: 0;
    right: 0;

    margin: auto;
}


@media screen and (min-width: 991px) {
    #footer-section-1 {
        text-align: left;
    }

    #footer-section-2 {
        text-align: center;
    }

    #footer-section-3 {
        text-align: right;
    }

    #map {
        width: 300px;
        height: 230px;
    }
}


@media screen and (max-width: 991px){
    #footer-section-1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #footer-section-2 {
        text-align: center;

        margin-top: 20px;
        margin-bottom: 20px;
    }

    #footer-section-3 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #map {
        width: 75vw !important;
        height: 230px;

        left: 0;
        right: 0;

        margin: auto;
    }
}